In [9]:
# Import Dependencies
import pandas as pd

In [10]:
csv_path = "Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read the CSV into a Pandas DataFrame
df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
n = len(pd.unique(df['SN']))
print("Total Unique Players:", n)
m = len((df['SN']))
print("Total Players:", m)

Total Unique Players: 576
Total Players: 780

In [12]:
unique_items = len(pd.unique(df['Item Name']))
mean_price = df["Price"].mean()
total_purc = len((df['Purchase ID']))
total_rev = df["Price"].sum()

In [13]:
Summary_table = {
                 "Number of Unique Items":[unique_items], 
                 "Average Price": [mean_price], 
                 "Number of Purchases": [total_purc], 
                 "Total Revenue":[total_rev]
                }
Summary_table_df = pd.DataFrame(Summary_table)
Summary_table_df['Average Price'] = Summary_table_df['Average Price'].map('${:,.2f}'.format)
Summary_table_df['Total Revenue'] = Summary_table_df['Total Revenue'].map('${:,.2f}'.format)
print(Summary_table_df)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [14]:
gendergroup_df = df.drop_duplicates(subset=['SN'])
gendergroup_df

gender_counts = gendergroup_df["Gender"].value_counts()
PercentageCounts = (gender_counts / n)
PercentageCounts_df = {
                        "Total Count": gender_counts, 
                         "Percentage of Players": PercentageCounts
                      }
PercentageCounts_df= pd.DataFrame(PercentageCounts_df)
PercentageCounts_df['Percentage of Players'] = PercentageCounts_df['Percentage of Players'].map("{:.2%}".format)
print(PercentageCounts_df)

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [52]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame
Gender_group = df.groupby("Gender")
Total_purchase_by_gender = Gender_group["Purchase ID"].count()
Average_PurchasePrice_by_gender = Gender_group["Price"].mean()
Total_Value_by_gender = Gender_group["Price"].sum()
Average_Purchase_by_person_by_gender = Total_Value_by_gender / gender_counts

SummaryTable_df = {"Purchase Count":Total_purchase_by_gender, 
                   "Average Purchase Price":Average_PurchasePrice_by_gender,
                   "Total Purchase Value":Total_Value_by_gender, 
                   "Avg Total Purchase per Person":Average_Purchase_by_person_by_gender}
SummaryTable_df= pd.DataFrame(SummaryTable_df)
SummaryTable_df['Average Purchase Price'] = SummaryTable_df['Average Purchase Price'].map('${:,.2f}'.format)
SummaryTable_df['Total Purchase Value'] = SummaryTable_df['Total Purchase Value'].map('${:,.2f}'.format)
SummaryTable_df['Avg Total Purchase per Person'] = SummaryTable_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)
print(SummaryTable_df)

                       Purchase Count Average Purchase Price  \
Female                            113                  $3.20
Male                              652                  $3.02
Other / Non-Disclosed              15                  $3.35

                      Total Purchase Value Avg Total Purchase per Person
Female                             $361.94                         $4.47
Male                             $1,967.64                         $4.07
Other / Non-Disclosed               $50.19                         $4.56

In [54]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
agegroup_df = df.drop_duplicates(subset=['SN'])
agegroup_df["Summary"] = pd.cut(agegroup_df["Age"], bins, labels=group_names, include_lowest=True)
# Creating a group based off of the bins
Age_group_df = agegroup_df.groupby("Summary")

# Find how many rows fall into each bin
Total_Purchases_by_age = (Age_group_df["Purchase ID"].count())
Total_Purchases_by_age_per = Total_Purchases_by_age / n

PurchasesbyBinnedAge = {
                         "Total Count": Total_Purchases_by_age,
                         "Percentage of Players": Total_Purchases_by_age_per
                      }

PurchasesbyBinnedAge_df= pd.DataFrame(PurchasesbyBinnedAge)
PurchasesbyBinnedAge_df['Percentage of Players'] = PurchasesbyBinnedAge_df['Percentage of Players'].map("{:.2%}".format)
print(PurchasesbyBinnedAge_df)

         Total Count Percentage of Players
Summary
<10               17                 2.95%
10-14             22                 3.82%
15-19            107                18.58%
20-24            258                44.79%
25-29             77                13.37%
30-34             52                 9.03%
35-39             31                 5.38%
40+               12                 2.08%

C:\Users\jillp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [74]:
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df["Summary"] = pd.cut(df["Age"], bins, labels=group_names, include_lowest=True)
# Creating a group based off of the bins
Age_group_all_df = df.groupby("Summary")

Purchase_Count = Age_group_all_df["Purchase ID"].count()
Average_Purchase_Price = Age_group_all_df["Price"].sum() / Purchase_Count
Total_Purchase_Value = Age_group_all_df["Price"].sum()
Avg_Total_Purchase_per_Person = Total_Purchase_Value / Total_Purchases_by_age

PurchasesbyBinnedAge_All = {"Purchase Count": Purchase_Count, "Average Purchase Price": Average_Purchase_Price, "Total Purchase Value": Total_Purchase_Value,"Avg Total Purchase per Person": Avg_Total_Purchase_per_Person}
PurchasesbyBinnedAge_All= pd.DataFrame(PurchasesbyBinnedAge_All)

PurchasesbyBinnedAge_All['Average Purchase Price'] = PurchasesbyBinnedAge_All['Average Purchase Price'].map('${:,.2f}'.format)
PurchasesbyBinnedAge_All['Total Purchase Value'] = PurchasesbyBinnedAge_All['Total Purchase Value'].map('${:,.2f}'.format)
PurchasesbyBinnedAge_All['Avg Total Purchase per Person'] = PurchasesbyBinnedAge_All['Avg Total Purchase per Person'].map('${:,.2f}'.format)





print(PurchasesbyBinnedAge_All)

         Purchase Count Average Purchase Price Total Purchase Value  \
Summary
<10                  23                  $3.35               $77.13
10-14                28                  $2.96               $82.78
15-19               136                  $3.04              $412.89
20-24               365                  $3.05            $1,114.06
25-29               101                  $2.90              $293.00
30-34                73                  $2.93              $214.00
35-39                41                  $3.60              $147.67
40+                  13                  $2.94               $38.24

        Avg Total Purchase per Person
Summary
<10                             $4.54
10-14                           $3.76
15-19                           $3.86
20-24                           $4.32
25-29                           $3.81
30-34                           $4.12
35-39                           $4.76
40+                             $3.19

In [90]:
#Run basic calculations to obtain the results in the table below
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order
Top_Spenders = df.groupby("SN")

Top_Spenders_purchase_Count = Top_Spenders["Purchase ID"].count()
Average_purchase_price = Top_Spenders["Price"].mean()
Total_purchase_value = Top_Spenders["Price"].sum()

PurchasesbyTop = {"Purchase Price": Top_Spenders_purchase_Count, "Average Purchase Price": Average_purchase_price, "Total Purchase Value": Total_purchase_value}
PurchasesbyTop_df= pd.DataFrame(PurchasesbyTop)
PurchasesbyTop_df = PurchasesbyTop_df.sort_values("Total Purchase Value", ascending=False)

PurchasesbyTop_df['Average Purchase Price'] = PurchasesbyTop_df['Average Purchase Price'].map('${:,.2f}'.format)
PurchasesbyTop_df['Total Purchase Value'] = PurchasesbyTop_df['Total Purchase Value'].map('${:,.2f}'.format)

PurchasesbyTop_df.head(5)

             Purchase Price Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [ ]:
Retrieve the Item ID, Item Name, and Item Price columns
Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
Create a summary data frame to hold the results
Sort the purchase count column in descending order