In [36]:
# Import Dependencies
import pandas as pd

In [37]:
csv_path = "Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read the CSV into a Pandas DataFrame
df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [38]:
#Player Count
n = len(pd.unique(df['SN']))
print("Total Unique Players:", n)
m = len((df['SN']))
print("Total Players:", m)

Total Unique Players: 576
Total Players: 780

In [39]:
#Purchasing Analysis (Total)
unique_items = len(pd.unique(df['Item Name']))
mean_price = df["Price"].mean()
total_purc = len((df['Purchase ID']))
total_rev = df["Price"].sum()

In [40]:

Summary_table = {
                 "Number of Unique Items":[unique_items], 
                 "Average Price": [mean_price], 
                 "Number of Purchases": [total_purc], 
                 "Total Revenue":[total_rev]
                }
Summary_table_df = pd.DataFrame(Summary_table)
Summary_table_df['Average Price'] = Summary_table_df['Average Price'].map('${:,.2f}'.format)
Summary_table_df['Total Revenue'] = Summary_table_df['Total Revenue'].map('${:,.2f}'.format)
Summary_table_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [41]:
#Gender Demographics
gendergroup_df = df.drop_duplicates(subset=['SN'])
gendergroup_df

gender_counts = gendergroup_df["Gender"].value_counts()
PercentageCounts = (gender_counts / n)
PercentageCounts_df = {
                        "Total Count": gender_counts, 
                         "Percentage of Players": PercentageCounts
                      }
PercentageCounts_df= pd.DataFrame(PercentageCounts_df)
PercentageCounts_df['Percentage of Players'] = PercentageCounts_df['Percentage of Players'].map("{:.2%}".format)
PercentageCounts_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [48]:
#Purchasing Analysis (Gender)
Gender_group = df.groupby("Gender")
Total_purchase_by_gender = Gender_group["Purchase ID"].count()
Average_PurchasePrice_by_gender = Gender_group["Price"].mean()
Total_Value_by_gender = Gender_group["Price"].sum()
Average_Purchase_by_person_by_gender = Total_Value_by_gender / gender_counts

SummaryTable_df = {"Purchase Count":Total_purchase_by_gender, 
                   "Average Purchase Price":Average_PurchasePrice_by_gender,
                   "Total Purchase Value":Total_Value_by_gender, 
                   "Avg Total Purchase per Person":Average_Purchase_by_person_by_gender}
SummaryTable_df= pd.DataFrame(SummaryTable_df)
SummaryTable_df['Average Purchase Price'] = SummaryTable_df['Average Purchase Price'].map('${:,.2f}'.format)
SummaryTable_df['Total Purchase Value'] = SummaryTable_df['Total Purchase Value'].map('${:,.2f}'.format)
SummaryTable_df['Avg Total Purchase per Person'] = SummaryTable_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)
SummaryTable_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [49]:
#Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
agegroup_df = df.drop_duplicates(subset=['SN'])
agegroup_df["Summary"] = pd.cut(agegroup_df["Age"], bins, labels=group_names, include_lowest=True)
# Creating a group based off of the bins
Age_group_df = agegroup_df.groupby("Summary")

# Find how many rows fall into each bin
Total_Purchases_by_age = (Age_group_df["Purchase ID"].count())
Total_Purchases_by_age_per = Total_Purchases_by_age / n

PurchasesbyBinnedAge = {
                         "Total Count": Total_Purchases_by_age,
                         "Percentage of Players": Total_Purchases_by_age_per
                      }

PurchasesbyBinnedAge_df= pd.DataFrame(PurchasesbyBinnedAge)
PurchasesbyBinnedAge_df['Percentage of Players'] = PurchasesbyBinnedAge_df['Percentage of Players'].map("{:.2%}".format)
PurchasesbyBinnedAge_df

C:\Users\jillp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

         Total Count Percentage of Players
Summary
<10               17                 2.95%
10-14             22                 3.82%
15-19            107                18.58%
20-24            258                44.79%
25-29             77                13.37%
30-34             52                 9.03%
35-39             31                 5.38%
40+               12                 2.08%

In [50]:
#Purchasing Analysis (Age)
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df["Summary"] = pd.cut(df["Age"], bins, labels=group_names, include_lowest=True)
# Creating a group based off of the bins
Age_group_all_df = df.groupby("Summary")

Purchase_Count = Age_group_all_df["Purchase ID"].count()
Average_Purchase_Price = Age_group_all_df["Price"].sum() / Purchase_Count
Total_Purchase_Value = Age_group_all_df["Price"].sum()
Avg_Total_Purchase_per_Person = Total_Purchase_Value / Total_Purchases_by_age

PurchasesbyBinnedAge_All = {"Purchase Count": Purchase_Count, "Average Purchase Price": Average_Purchase_Price, "Total Purchase Value": Total_Purchase_Value,"Avg Total Purchase per Person": Avg_Total_Purchase_per_Person}
PurchasesbyBinnedAge_All= pd.DataFrame(PurchasesbyBinnedAge_All)

PurchasesbyBinnedAge_All['Average Purchase Price'] = PurchasesbyBinnedAge_All['Average Purchase Price'].map('${:,.2f}'.format)
PurchasesbyBinnedAge_All['Total Purchase Value'] = PurchasesbyBinnedAge_All['Total Purchase Value'].map('${:,.2f}'.format)
PurchasesbyBinnedAge_All['Avg Total Purchase per Person'] = PurchasesbyBinnedAge_All['Avg Total Purchase per Person'].map('${:,.2f}'.format)

PurchasesbyBinnedAge_All

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [52]:
#Top Spenders
Top_Spenders = df.groupby("SN")

Top_Spenders_purchase_Count = Top_Spenders["Purchase ID"].count()
Average_purchase_price = Top_Spenders["Price"].mean()
Total_purchase_value = Top_Spenders["Price"].sum()

PurchasesbyTop = {"Purchase Count": Top_Spenders_purchase_Count, "Average Purchase Price": Average_purchase_price, "Total Purchase Value": Total_purchase_value}
PurchasesbyTop_df= pd.DataFrame(PurchasesbyTop)
PurchasesbyTop_df = PurchasesbyTop_df.sort_values("Total Purchase Value", ascending=False)

PurchasesbyTop_df['Average Purchase Price'] = PurchasesbyTop_df['Average Purchase Price'].map('${:,.2f}'.format)
PurchasesbyTop_df['Total Purchase Value'] = PurchasesbyTop_df['Total Purchase Value'].map('${:,.2f}'.format)

PurchasesbyTop_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [56]:
#Most Popular Items
Top_Items = df.groupby("Item ID")

Top_Items_Count = Top_Items["Item ID"].count()
Top_Items_Name = Top_Items["Item Name"].max()
Top_Item_Price = Top_Items["Price"].mean()
Top_Item_TotalPrice = Top_Item_Price * Top_Items_Count


TopItems= {"Item Name": Top_Items_Name, "Purchase Count": Top_Items_Count, "Item Price":Top_Item_Price, "Total Purchase Value": Top_Item_TotalPrice }
TopItems_df= pd.DataFrame(TopItems)
TopItems_df = TopItems_df.sort_values("Purchase Count", ascending=False)

TopItems_df['Item Price'] = TopItems_df['Item Price'].map('${:,.2f}'.format)
TopItems_df['Total Purchase Value'] = TopItems_df['Total Purchase Value'].map('${:,.2f}'.format)

TopItems_df.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [60]:
#Most Profitable Items

TopItems_df= pd.DataFrame(TopItems)
TopTotalPurchase_df = TopItems_df.sort_values("Total Purchase Value", ascending=False)
TopTotalPurchase_df['Item Price'] = TopTotalPurchase_df['Item Price'].map('${:,.2f}'.format)
TopTotalPurchase_df['Total Purchase Value'] = TopTotalPurchase_df['Total Purchase Value'].map('${:,.2f}'.format)
TopTotalPurchase_df.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80