In [4]:
# Import Dependencies
import pandas as pd

In [5]:
csv_path = "Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read the CSV into a Pandas DataFrame
df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [42]:
n = len(pd.unique(df['SN']))
print("Total Unique Players:", n)
m = len((df['SN']))
print("Total Players:", m)

Total Unique Players: 576
Total Players: 780

In [52]:
unique_items = len(pd.unique(df['Item Name']))
mean_price = df["Price"].mean()
total_purc = len((df['Purchase ID']))
total_rev = df["Price"].sum()

In [72]:
Summary_table = {
                 "Number of Unique Items":[unique_items], 
                 "Average Price": [mean_price], 
                 "Number of Purchases": [total_purc], 
                 "Total Revenue":[total_rev]
                }
Summary_table_df = pd.DataFrame(Summary_table)
Summary_table_df['Average Price'] = Summary_table_df['Average Price'].map('${:,.2f}'.format)
Summary_table_df['Total Revenue'] = Summary_table_df['Total Revenue'].map('${:,.2f}'.format)
print(Summary_table_df)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [94]:

gender_counts_df = df["Gender"].value_counts()
gender_counts = df["Gender"].value_counts()
PercentageCounts = (gender_counts / total_purc)
PercentageCounts_df = {
                        "Total Count": gender_counts, 
                         "Percentage of Players": PercentageCounts
                      }
PercentageCounts_df= pd.DataFrame(PercentageCounts_df)
PercentageCounts_df['Percentage of Players'] = PercentageCounts_df['Percentage of Players'].map("{:.2%}".format)
print(PercentageCounts_df)

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%

In [ ]:
## That doesn't work ^^ need to get unique SN first then operate on gender analysis